name = "{{ blueprint.name }}"
description = "{{ blueprint.description | default("") }}"
version = "{{ blueprint.version | default("0.0.1") }}"

{% for module in blueprint.modules | default([]) %}
[[modules]]
name = "{{ module.name }}"
version = "{{ module.version | default("*") }}"

{% endfor %}
{% for group in blueprint.package_groups | default([]) %}
[[groups]]
name = "{{ group }}"

{% endfor %}
{% for package in blueprint.packages | default([]) %}
[[packages]]
name = "{{ package.name }}"
version = "{{ package.version | default("*") }}"

{% endfor %}
{% for container in blueprint.containers | default([]) %}
[[containers]]
source = "{{ container }}"

{% endfor %}
{% if blueprint.services is defined %}
[customizations.services]
enabled = ["{{ blueprint.services | join('", "') }}"]

{% endif %}
{% endfor %}
{% for directory in blueprint.directories | default([]) %}
[[customizations.directories]]
path = "{{ directory.path }}"
mode = "{{ directory.mode | default("0755") }}"
user = "{{ directory.user | default("root") }}"
group = "{{ directory.group | default("root") }}"
ensure_parents = {{ directory.ensure_parents | default("true") | string | lower }}

{% endfor %}
{% for file in blueprint.files | default([]) %}
[[customizations.files]]
path = "{{ file.path }}"
mode = "{{ file.mode | default("0644") }}"
user = "{{ file.user | default("root") }}"
group = "{{ file.group | default("root") }}"
{% if file.content is defined %}
data = """
{{ file.content }}"""
{% endif %}

{% endfor %}
