lang en_US.UTF-8
keyboard us
timezone Etc/UTC --isUtc
text
zerombr
clearpart --all --initlabel
autopart
reboot

network --bootproto=dhcp
rootpw --lock

{% for user in blueprint.users %}
user --name={{ user.name }}
{%- if user.groups is defined %}
 --groups={{ user.groups | join(",") }}
{%- endif %}
{%- if user.password is defined %}
 --password={{ user.password | ansible.builtin.password_hash("sha512", salt=(user.password_salt|default("FOzvWPBHcOhf5n/L"))) }} --iscrypted
{%- endif %}

{% if user.ssh_key is defined %}
sshkey --username={{ user.name }} "{{ user.ssh_key }}"
{% endif %}

{% endfor %}
ostreesetup --nogpg --osname=rhel --remote=edge --url=http://aap-chbox.edgelab.dev:8080/repo/{{ blueprint.name }}/ --ref=rhel/9/x86_64/edge
