lang en_US.UTF-8
keyboard us
timezone Etc/UTC --utc
text
zerombr
clearpart --all --initlabel
autopart
reboot

network --bootproto=dhcp --device=link --activate --onboot=on
rootpw --lock

ostreesetup --nogpg --osname=rhel --remote=edge --url=http://aap-chbox.edgelab.dev:8080/{{ blueprint.name }}/repo/ --ref=rhel/9/x86_64/edge

%post
{% for user in blueprint.users %}
adduser --create-home
{%- if user.groups is defined %}
 --groups={{ user.groups | join(",") }}
{%- endif %}
{%- if user.password is defined %}
 --password={{ user.password | ansible.builtin.password_hash("sha512", salt=(user.password_salt|default("FOzvWPBHcOhf5n/L"))) }}
{%- endif %}
 {{ user.name }}
{% if user.ssh_keys is defined %}
mkdir -p /home/{{ user.name }}/.ssh
{% for ssh_key in user.ssh_keys %}
echo "{{ ssh_key }}" >> /home/{{ user.name }}/.ssh/authorized_keys
{% endfor %}
chmod 0600 /home/{{ user.name }}/.ssh/authorized_keys
chown -R {{ user.name }}:{{ user.name }} /home/{{ user.name }}/
{% endif %}
{% if user.linger is defined and user.linger|bool == true %}
touch /var/lib/systemd/linger/{{ user.name }}
{% endif %}
{% endfor %}

{% for cmd in blueprint.filewall_cmds %}
firewall-offline-cmd {{ cmd }}
{% endfor %}
%end
